<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats - RaceKatteKlubben</title>
    <link rel="stylesheet" href="styleSheet.css">
</head>
<body>
    <div class="topbar">
        <a href="index.html"><button>Back to Home</button></a>
    </div>

    <div class="content">
        <div class="item">
            <h1>Vores Katte</h1>
            <p>Her er en liste over nogle af vores fantastiske katte:</p>
        </div>
        <div class="item">
            <div class="cat">
                <img src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?cs=srgb&dl=pexels-pixabay-104827.jpg&fm=jpg" alt="Cat Image">
                <h2>Kat 1</h2>
                <h2>Race: Maine Coon</h2>
                <h2>alder: 5</h2>
            </div>
            <div class="cat">
                <img src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?cs=srgb&dl=pexels-pixabay-104827.jpg&fm=jpg" alt="Cat Image">
                <h2>Kat 2</h2>
                <h2>Race: Siamese</h2>
            </div>
            <div class="cat">
                <img src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?cs=srgb&dl=pexels-pixabay-104827.jpg&fm=jpg" alt="Cat Image">
                <h2>Kat 3</h2>
                <h2>Race: Bengal</h2>
            </div>
            <div class="cat">
                <img src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?cs=srgb&dl=pexels-pixabay-104827.jpg&fm=jpg" alt="Cat Image">
                <h2>Kat 4</h2>
                <h2>Race: Persian</h2>
            </div>
            <div class="cat">
                <img src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?cs=srgb&dl=pexels-pixabay-104827.jpg&fm=jpg" alt="Cat Image">
                <h2>Kat 5</h2>
                <h2>Race: Sphynx</h2>
            </div>
            <div class="cat">
                <img src="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?cs=srgb&dl=pexels-pixabay-104827.jpg&fm=jpg" alt="Cat Image">
                <h2>Kat 6</h2>
                <h2>Race: Ragdoll</h2>
            </div>
        </div>
        <div class="item">
            <h2>Del dine katte med os</h2>
            <p>Vil du også dele dine katte med RaceKatteKlubben? Tilføj din kat nu!</p>
            <a href="login.html"><button>Tilføj kat</button></a>
        </div>
    </div>
</body>
</html>
